* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}


header {
    padding: 1.5rem 1rem;
    background-color: rgb(0, 0, 0);
    top: 0;
    width: 100%; 

}


nav {
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;    
    list-style: none;
}


header nav li a{
    color: #fffa;;
    font-size: 1.25em;
    font-weight: 600;
    font-family: monospace;
    
}
header nav li a:hover {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: font-size .4s color .4s;
}
main {
    color: white;
    font-family: 'Inconsolata', monospace;
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F7%2F3%2F3%2F1479648-matrix-binary-code-falling-wallpaper-1920x1080-mobile.jpg&f=1&nofb=1);

}
#about {
    line-height: 15px;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(3,1fr) 15rem;
    grid-template-areas:"head head head head" 
                        "img img img skill"
                        "img img img skill" 
                        "about about about skill" ;
    

}
#welcome {
    grid-area: head;
    background-color: rgba(29, 28, 28, 0.884);
}
h1 {
    font-size: 2.5rem;
    padding: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;

}


#about .img-container {
    border: .4em solid rgba(6, 65, 6, 0.877);
    border-radius: .2rem;
    font-size: 1.75em;
    padding: 1rem;    color: white;
    grid-area: img;
    grid-row-gap: 1rem;
}
#about img {
    max-width: 55vw;
    height: 35vh;
    border-radius: 25%;
    
}

img:hover {
    transform: scale(1.2);
}

.about-me {
    grid-area: about;
    background-color: rgba(29, 28, 28, 0.884);
}

.skills {
    grid-area: skill;
    background-color: rgba(29, 28, 28, 0.884);
}

.skills ul li {
    line-height: 1.5;
    font-weight: 700;
    text-align: start;
}

h2 {
    font-size: 1.75rem;
    margin: .75rem;
    padding: 1em;
    font-family: 'Josefin Sans', sans-serif;}

p {
    font-style: italic;
    line-height: 1.5;
    font-size: 1.2rem;
}

#projects {
    background-color: black;
    text-align: center;
    padding-bottom: 1.75rem;
    margin-bottom: 0;
}

#projects p a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}
.project-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#pro-1 img, #pro-2 img , #pro-3 img{
    width: 25vw;
    height: 25vh;
   

}

#pro-1, #pro-2, #pro-3 {
    border-radius: .25rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
}

footer {
    height: 10vh;
    background-color: azure;
    color: rgba(0, 0, 0, 0.904);
    margin: .3rem;
    display: inline-block;
}


footer h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

footer img  {
    padding: 20px;
    width: 12vw;
    height: 12vh;

}